.container {
  display: flex;
  justify-content: space-between;
  padding-right: 2em;
}
.container > div:first-child {
  width: 25%;
}
.container > div:last-child {
  width: 65%;
}

.video {
  width: 100%;
  height: 40vh;
  border-radius: 1em;
}
.title {
  font-family: "arabic";
}
